div.visual_wrap {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    top: 0px;

    background-color: #F2F6F7;
}

section.visual {
    width: 100%;
    height: 150px;
}


ul.visual_img {
    width: 300%;
    height: auto;

}

ul.visual_img>li {
    width: 100%;
    height: 150px;
    margin: 0px auto;
    position: absolute;
}

ul.visual_img>li>img {
    width: 100%;
    height: auto;
}

p.visual_title {
    padding: 2%;
    box-sizing: border-box;

    width: 50%;

    position: absolute;
    bottom: 0px;
    left: 25%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 1em;
    border-radius: 20px;
}

