div.brandstate_wrap {
    width: 100%;
    min-height: 50px;
    position: relative;

    padding: 50px 0px;
    box-sizing: border-box;
    background: #F2F6F7;
}


section.brandstate{
    width: 1200px;
    height: auto;
    position: relative;
    margin: 0px auto;
    

}
section.brandstate>ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    
}
p.categorylist{
text-align: center;
font-size: 1em;
}

section.brandstate>ul>li>img{
    width: 100%;
    height: 50px;
}

.selected{
    border-bottom: soild 3px black;
}

@media screen and (max-width:1260px) {
    section.brandstate{
        width: 75%;
    }
}